* {
}

body {
	background-color: black;
	color: white;
}

.picture {
}

.picture__police {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.pageTitle {
	text-align: center;
	color: red;
}

.pageTitle__head {
}

.heightWeightForm {
	text-align: center;
}

.heightWeightForm__heightLable {
	color: red;
}

.heightWeightForm__heightInput {
}

.heightWeightForm__weightLable {
	color: red;
}

.heightWeightForm__weightInput {
}

.heightWeightForm__button {
}

.tableOne {
}

.tableOne__head {
	color: red;
	text-align: center;
}

.tableOne__table {
	border: 1px solid green;
	width: 100%;
}

.tableOne__table__head {
}

.tableOne__table__head__row {
}

.tableOne__table__head__row__head {
}

.tableOne__table__body {
}

.dobForm {
	text-align: center;
}

.dobForm__lable {
	color: red;
}

.dobForm__input {
}

.dobForm__button {
}

.tableTwo {
}

.tableTwo__head {
	color: red;
	text-align: center;
}

.tableTwo__table {
	border: 1px solid green;
	width: 100%;
}

.tableTwo__table__head {
}

.tableTwo__table__head__row {
}

.tableTwo__table__head__row__head {
}

.tableTwo__table__body {
}

.js {
}
